.App {
  text-align: center;
}

.App{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  height: inherit;
}

section {
  min-height: 80vh;
  height: inherit;
  margin-bottom: auto;
  box-sizing: border-box;
  display: block;
}

.right{
  text-align: right;
}
.row{
  display: block;
  width: 100%;
}
.list-items{
  padding: 1em;
  max-height: 70vh;
  overflow: auto;
}
.list-items > div:nth-child(even){
  background-color: #fff;
}
.list-items > div:nth-child(odd){
  background-color: #f6f6f6;
}

