.Form-Validation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Form-Validation form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 0 9px rgba(112,112,112, .2);
}
.Form-Validation .divider::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color:  rgba(167, 167, 167, 0.2);
    margin: .5em 0;
}