.Content {
  height: inherit;
  display: flex;
  padding: 1em;
  box-sizing: inherit;
  background-color: #fff;
}
.Content section{
  width: 100%;
  padding: 1em;
}

.Content section > div {
  display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-between;
    height: 100%;
}