.Content {
  height: inherit;
  display: flex;
  padding: 1em;
  box-sizing: inherit;
  background-color: #fff;
}
.Content section{
  width: 100%;
  padding: 1em;
}

.Content section > div {
  display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-between;
    height: 100%;
}
@media screen and (min-width: 769px) {
  aside {width: auto;height: auto;}
}
@media screen and (max-width: 768px) {
  aside {width: 100%;height: min-content;}
  .Content {
    flex-wrap: wrap;
  }
  .Content section{
    min-height: 70vh;
  }
}