@font-face{
  font-family: OpenSansRegular;
  src: url(../src/assets/fonts/OpenSans-Regular.ttf)
}
@font-face{
  font-family: OpenSansLight;
  src: url(../src/assets/fonts/OpenSans-Light.ttf)
}
@font-face{
  font-family: OpenSansSemiBold;
  src: url(../src/assets/fonts/OpenSans-SemiBold.ttf)
}
@font-face{
  font-family: OpenSansBold;
  src: url(../src/assets/fonts/OpenSans-Bold.ttf)
}
body {
  margin: 0;
  font-family: OpenSansRegular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root{
  height: 100%;
  box-sizing: border-box;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}